<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}Welcome To AI Interview Platform{% endblock %}
    </title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />

    <!-- Common Styles -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/register.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/user_login.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/admin_login.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/user_dashboard.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/admin_navbar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/admin_dashboard.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/manage_roles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/manage_roles.css') }}"
    />
  </head>
  <body>
    {% if current_user.is_authenticated %} {% if current_user.role_obj and
    current_user.role_obj.role_name == 'Admin' %} {% include
    'partials/admin_navbar.html' %} {% elif current_user.role_obj and
    current_user.role_obj.role_name == 'User' %} {% include
    'partials/user_navbar.html' %} {% else %} {% include
    'partials/public_navbar.html' %} {% endif %} {% else %} {% include
    'partials/public_navbar.html' %} {% endif %}

    <div class="container page-wrapper">{% block content %}{% endblock %}</div>

    <section class="page-wrapper">{% block section %}{% endblock %}</section>
    <!-- Toast Container -->
    <div aria-live="polite" aria-atomic="true" class="position-relative">
      <div class="toast-container position-fixed top-0 end-0 p-3">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div
          class="toast align-items-center text-bg-{{ category }} border-0 mb-2"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          <div class="d-flex">
            <div class="toast-body">{{ message }}</div>
            <button
              type="button"
              class="btn-close btn-close-white me-2 m-auto"
              data-bs-dismiss="toast"
              aria-label="Close"
            ></button>
          </div>
        </div>
        {% endfor %} {% endif %} {% endwith %}
      </div>
    </div>

    <!-- Bootstrap Bundle JS -->
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/public_dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/user_login.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin_login.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>

    {% include 'partials/footer.html' %}
  </body>
</html>
